.main-content{
  height:100%;
  width: inherit;

}
.page-header{
  padding-bottom: 50px;
}
.bets {
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100px 100px 100px;
}
